<template name="footer">
    <div class="ui inverted padding-wrapper footer segment">
        Project by <a href="https://github.com/neilhan/pebble-hike-victoria">Pebbles Group</a>.

        <!-- google badges. -->
        <a href="//plus.google.com/108577504965898846202?prsrc=3"
           rel="publisher" target="_top" style="text-decoration:none;display:inline-block;color:#aaaaaa;text-align:center; font:13px/16px arial,sans-serif;white-space:nowrap;">
        <img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/>
        <span style="display:inline-block;font-weight:bold;vertical-align:top;margin-right:5px; margin-top:8px;">Kevin Zhang</span>
        </a>

        <a href="//plus.google.com/101499852283647372156?prsrc=3"
           rel="publisher" target="_top" style="text-decoration:none;display:inline-block;color:#aaaaaa;text-align:center; font:13px/16px arial,sans-serif;white-space:nowrap;">
        <img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/>
        <span style="display:inline-block;font-weight:bold;vertical-align:top;margin-right:5px; margin-top:8px;">Neil Han</span>
        </a>

    </div>

</template>

