<template name="header">       
    <div class="center aligned header-wrapper">
        <h1 class="huge center aligned ui header">
            Victoria Pebbles Hiking Group
            <!-- div class="sub header">
                by <a class="unstyled link" href="https://github.com/neilhan">Pebbles Group</a>
            </div -->          
        </h1> 
        
        <div style="text-align:center">
            <button class="basic ui resize icon button" style="halign:center"><i class="angle down icon"></i></button>
        </div>
    </div>
</template>

