<template name="header">
		
	{{> createDialog}}

	{{#with selectedEvent}}
		{{> eventEditDialog}}
	{{/with}}

	<div class="left aligned header-wrapper">
		<div class="container">
			<h1 class="huge left aligned ui header">
				Victoria Pebbles Hiking Group
				<!-- div class="sub header">
					by <a class="unstyled link" href="https://github.com/neilhan">Pebbles Group</a>
				</div -->
			</h1> 

			<div class="btn-group">
				<button type="button" class="btn btn-primary" id="homeButton">Home</button>
				{{#if currentUser}}
					<button type="button" class="btn btn-primary" id="addEvent"
						data-toggle="modal" data-target="#createDialog"
						>Post a new event</button>
				{{/if}}
			</div>
		
			<div style="text-align:center">
				<button class="btn btn-lg" id="headerResize" style="halign:center; background-color: transparent;">
					<span class="glyphicon glyphicon-chevron-down"></span>
				</button>
			</div>
		</div> <!-- container -->
	</div>  <!-- header-wrapper -->

</template>

