<Template name='newEvent'>
	{{#if error}}
		<div class="alert alert-error">{{error}}</div>
	{{/if}}
	<div id="newEventMobile">
		<div class='placeholder-for-madewithmeteor'>
			<button class='topBtn cancel' >Cancel</button><button class='topBtn save'>Save</button>
		</div>
		<div class='input-group' id='datetimepicker'>
			<span class='input-group-addon'>Date and Time</span>
			
			<div id="datetimepicker_1">
				<input data-format="yyyy-MM-dd hh:mm pp" type="" class="form-control dlgTime"></input>
			</div>
			<span class="input-group-addon add-on" style="vertical-align: middle">
			  <i class="icon" data-time-icon="icon-time" data-date-icon="icon-calendar" ></i>
			</span>
		</div>
		<div class='input-group'>
			<span class='input-group-addon'>Place (text)</span>
			<input type=" " class="form-control dlgTitle"></input>
		</div>
		<div class='input-group'>
			<span class='input-group-addon'>Memo</span>
			<input type='' class="form-control description-mobile"></input>
		</div>

	</div>
	<h1>Map of locations</h1>
	{{> map}}
	<h1>Data</h1>
	{{#isolate}}
	{{> data}}
	{{/isolate}}
</Template>

<template name="map">
	
	<button id="test">test</button>
    <div id="map">
        <div id="map-canvas"></div>
    </div>
</template>
<template name='data'>
	{{markers}}
</template>