<template name="homeMobile">
	<div class='locationWarning'>Please allow the browser's location request and continue</div>
	<div id="map-canvas"></div>
		
		{{#isolate}}
		<div class='hikeEventList'>
			<ul class="list-group">
				{{#each hikeEvents}}
				<li data-eventId={{_id}} class="list-group-item testevent">
					<div class='container'>
						<div class='col-xs-1'>
						{{#if showLocationOnMapActive this}}
							<span class='glyphicon glyphicon-map-marker touch-icon alignRight'/>
						{{/if}}
						</div>
						<div class='col-xs-6 title'>
							{{title}}
						</div>
						<div class='col-xs-5 time'>
							{{ hikeTimeString this}}
						</div>
						
					</div>
					<div class='container'>
						<div class='col-xs-1'>
						</div>
						<div class='col-xs-11'>
							{{#if activeEvent this}}
							{{#if ownerof this}}
							<span data-eventId="{{_id}}" class='glyphicon glyphicon-trash remove-event touch-icon'/></a>
							{{/if}}
							{{#if joinedin this}}
							<span data-eventId="{{_id}}" class='glyphicon glyphicon-log-out join-out touch-icon'/></a>
							{{else}}
							<span data-eventId="{{_id}}" class='glyphicon glyphicon-log-in join-in touch-icon'/></a>
							{{/if}}
							<span data-eventId="{{_id}}" class='glyphicon glyphicon-circle-arrow-right openDetail touch-icon'/></a>
							{{/if}}
						</div>
					</div>
				</li>
				{{/each}}
			</ul>
		</div>
		{{/isolate}}
		<div class='row'>
			<div class='col-xs-1 noRightPadding'>
				<a href='/newevent'><span class='glyphicon glyphicon-plus alignRight touch-icon'/></a>
			</div>
			
		</div>
	</div>
</template>
