
<template name="eventItemRow">
    <div class='row ' data-eventId="{{_id}}">
        {{#if upcoming}}
            <div class="ui left corner teal label">
                <i class="star icon"></i>
            </div>
        {{/if}}
        <!-- div class="col-xs-1" style="width:15px">
            {{#if isSelected}}
                <i class="angle down icon"></i>
            {{else}}
                <i class="angle up icon"></i>
            {{/if}}
        </div -->
        <div class="col-md-1" style="width:15px">
			<span class='glyphicon glyphicon-calendar'></span>
        </div>
        <div class="col-md-3">
            {{timeFormatted}}
        </div>
        <div class="col-md-3">
			<span class="glyphicon glyphicon-map-marker"></span>
            {{title}}
        </div>
        <div class="col-md-2">
			<span class="glyphicon glyphicon-user"></span>
            {{initiator}}
        </div>
        <div class="col-md-1">
			<span class="glyphicon glyphicon-user"></span>
            {{rsvpsCount}}
        </div>
        <div class="col-md-2">
			<div class="btn-group">
				{{#if isEditable}}
					<button type="button" class="btn btn-warning btn-xs editBtn" data-eventId="{{_id}}">
						<span class="glyphicon glyphicon-edit"></span> Edit
					</button>
				{{/if}}
				<button type="button" class="btn btn-success btn-xs detailBtn" data-eventId="{{_id}}" url="{{pathFor 'eventDetailPage'}}" >
					<span class="glyphicon glyphicon-zoom-in"></span> Detail
				</button>
			</div>
        </div>
    </div>
</template> 
