
<template name="createDialog">
	<div class="modal fade" id="createDialog"
		tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3>Propose a new hike</h3>
				</div>

				<div class="modal-body">
					{{#if error}}
						<div class="alert alert-error">{{error}}</div>
					{{/if}}
					<div class='input-group' id='datetimepicker'>
						<span class='input-group-addon'>Date and Time</span>
						<!-- input type="" class="form-control dlgTime" 
						class="input-append date" 
						-->
						<div id="datetimepicker_1">
							<input data-format="yyyy-MM-dd hh:mm pp" type="" class="form-control dlgTime"></input>
						</div>
						<span class="input-group-addon add-on" style="vertical-align: middle">
							<i class="icon" data-time-icon="icon-time" data-date-icon="icon-calendar" ></i>
						</span>
					</div>
					<div class='input-group'>
						<span class='input-group-addon'>Place (text)</span>
						<input type=" " class="form-control dlgTitle">
					</div>
					<div class='input-group'>
						<span class='input-group-addon'>Map link (google map URL)</span>
						<input type="" class="form-control maplink" value="">
					</div>

					<label>Description</label>

					<textarea class="form-control description"></textarea>

					<!-- label class="checkbox">
						<input type="checkbox" class="private">
						Private event &mdash; invitees only
					</label -->
				</div> <!-- modal-body -->

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" id="saveButton">Creat event</button>
				</div>
			</div>  <!-- modal-content -->
		</div>  <!-- modal-dialog -->
	</div>  <!-- modal-dialog -->
</template>
